<html>
  <head>
    <title>Create a username</title>
    <%- include("header") -%>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css" />
  </head>

  <body>
    <div class="container">
      <div>
        <h1>Login page</h1>
        <h3>Create a username to start chatting</h3>

        <div id="input-box">
          <label for="login-box">Username</label>
          <input id="login-box" type="text" /><button id="">Change</button>
        </div>
      </div>
    </div>
  </body>

  <script>
    const createLogin = (e) => {
      const input = document.getElementById("login-box");

      if (input.value === "") {
        alert("Username cannot be blank");
        return;
      }

      if (input.length < 0 || input.length > 20) {
        alert("Username is too long");
        return;
      }

      sessionStorage.username = input.value;
      window.location.href = "/home";
    };

    document.querySelector("button").addEventListener("click", createLogin);

    document
      .getElementById("login-box")
      .addEventListener("keydown", (event) => {
        if (event.keyCode == 13) createLogin(event);
      });
  </script>
</html>
