<nav>
  <a id="home" href="/home" class="nav-item">
    <i class="fa fa-home" aria-hidden="true"></i>
    <span>Home</span>
  </a>

  <a id="name" class="nav-item" style="user-select: none">
    <% if (roomName) { %> <%= "Room: " + roomName %> <% } else { %> Chat room <%
    }%>
  </a>

  <div class="wrapper">
    <a href="/about" class="nav-item">
      <i class="fa fa-address-card" aria-hidden="true"></i>
      <span>About</span>
    </a>

    <a href="/contact" class="nav-item">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      <span> Contact </span>
    </a>
  </div>
</nav>
